<!-- Tape Machine Master - Main container starts -->
<div class="col-lg-12 main-container">
  <!-- panel-primary starts -->
  <div class="panel panel-primary">
    <!-- Panel heading with Create New Button -->
    <div class="panel-heading">
      <h2>
        Tape Machines - Master List
        <div style="float: right">
          <button
            class="btn btn-primary"
            (click)="initializeCreate()"
            (click)="open(machineModal)"
          >
            Create New Machine
          </button>
        </div>
      </h2>
      <!-- Panel heading ends -->
    </div>

    <!-- Search box starts -->
    <input
      class="form-control"
      type="text"
      name="search"
      autocomplete="off"
      placeholder="Search"
      [(ngModel)]="searchText"
    />
    <!-- Search box ends -->
    <br />

    <!-- Panel body starts -->
    <div class="panel-body">
      <!-- Machine List table starts -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>S No</th>
            <th>Machine Name</th>
            <th>Rate</th>
            <th>Type</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let machine of machines | filter: searchText; let i = index"
          >
            <td>{{ i + 1 }}</td>
            <td>{{ machine.name }}</td>
            <td>{{ machine.rate }}</td>
            <td>{{ machine.type }}</td>
            <td style="padding-top: 0.45rem; padding-bottom: 0.35rem">
              <button
                class="btn btn-sm btn-outline-primary smallBtn"
                (click)="initializeEdit(machine.id)"
                (click)="open(machineModal)"
              >
                Edit
              </button>
            </td>
          </tr>
        </tbody>
        <!-- Machine List table ends -->
      </table>
      <!-- Panel body ends -->
    </div>

    <!-- panel-primary ends -->
  </div>
  <!-- Tape Machine Master - Main container ends -->
</div>

<!-- MachineModal template starts -->
<ng-template #machineModal let-modal>
  <!-- modal header starts -->
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">
      {{ this.updateFlag ? "Update" : "Create" }} Machine
    </h3>
    <button
      type="button"
      class="close close-modal"
      aria-label="Close"
      id="modalCloseBtn"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <!-- modal header ends -->
  </div>

  <!-- modal-body starts -->
  <div class="modal-body">
    <!-- modal-col-lg-12 starts -->
    <div class="col-lg-12">
      <!-- modal-row starts -->
      <div class="row">
        <!-- machineName starts -->
        <div class="form-group col-lg-12">
          <label for="machineName">Machine Name *</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="machineName"
              id="machineName"
              [(ngModel)]="this.machine.name"
            />
          </div>
          <!-- machineName ends -->
        </div>

        <!-- machineRate starts -->
        <div class="form-group col-lg-12">
          <label for="machineRate">Machine Rate *</label>
          <div class="input-group">
            <input
              type="number"
              step="any"
              class="form-control"
              name="machineRate"
              id="machineRate"
              [(ngModel)]="this.machine.rate"
            />
          </div>
          <!-- machineRate ends -->
        </div>

        <!-- machineType starts -->
        <div class="form-group col-lg-12">
          <label for="machineType">Machine Type *</label>
          <div class="input-group">
            <select
              class="form-control"
              name="machineType"
              id="machineType"
              [(ngModel)]="this.machine.type"
            >
              <option value="" disabled selected>Select the Type</option>
              <option value="Offset Print">Offset Print</option>
              <option value="Plate">Plate</option>
            </select>
          </div>
          <!-- machineType ends -->
        </div>

        <!-- create button -->
        <div class="col-lg-12" id="btnContainer" *ngIf="!this.updateFlag">
          <button class="btn btn-block btn-primary" (click)="onCreate()">
            Create
          </button>
          <!-- create button ends -->
        </div>

        <!-- update button -->
        <div class="col-lg-12" id="btnContainer" *ngIf="this.updateFlag">
          <button class="btn btn-block btn-primary" (click)="onUpdate()">
            Update
          </button>
          <!-- update button ends -->
        </div>

        <!-- row ends -->
      </div>
      <!-- col-lg-12 ends -->
    </div>
    <!-- modal body ends -->
  </div>
  <!-- machineModal template ends -->
</ng-template>
