<!-- Merchandiser - Main container starts -->
<div class="col-lg-12 main-container">
  <!-- panel-primary starts -->
  <div class="panel panel-primary">
    <!-- Panel heading with Create New Button -->
    <div class="panel-heading">
      <h2>
        Merchandiser List
        <div style="float: right">
          <button
            class="btn btn-primary"
            (click)="initializeCreate()"
            id="createNewBtn"
            (click)="open(merchandiserModal)"
          >
            Create New Merchandiser
          </button>
        </div>
      </h2>
      <!-- Panel heading ends -->
    </div>

    <!-- Search box starts -->
    <input
      class="form-control"
      type="text"
      name="search"
      autocomplete="off"
      placeholder="Search"
      [(ngModel)]="searchText"
    />
    <!-- Search box ends -->
    <br />

    <!-- Panel body starts -->
    <div class="panel-body">
      <!-- Merchandiser List table starts -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>S No</th>
            <th>Merchandiser</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Company</th>
            <th>Executive</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let merchandiser of merchandisers | filter: searchText;
              let i = index
            "
          >
            <td>{{ i + 1 }}</td>
            <td>{{ merchandiser.name }}</td>
            <td>{{ merchandiser.email }}</td>
            <td>{{ merchandiser.phone }}</td>
            <td>{{ this.findCompanyNameById(merchandiser.companyId) }}</td>
            <td>{{ this.findExecutiveNameById(merchandiser.executiveId) }}</td>
            <td>{{ merchandiser.status }}</td>
            <td style="padding-top: 0.25rem; padding-bottom: 0.25rem">
              <button
                class="btn btn-sm btn-primary"
                (click)="initializeEdit(merchandiser.id)"
                (click)="open(merchandiserModal)"
              >
                Edit
              </button>
            </td>
          </tr>
          <!-- <tr>
            <td>1</td>
            <td>Shanmuganandam</td>
            <td>Shanmuganandam@newvictory.fabrics</td>
            <td>8248401678</td>
            <td>Tiruppur</td>
            <td>Selvi Shanmuganandam</td>
            <td>Verified</td>
            <td style="padding-top: 0.25rem; padding-bottom: 0.25rem">
              <button class="btn btn-sm btn-primary">Edit</button>
            </td>
          </tr> -->
        </tbody>
        <!-- Merchandiser List table ends -->
      </table>
      <!-- Panel body ends -->
    </div>
    <!-- panel-primary ends -->
  </div>
  <!-- Merchandiser - Main container ends -->
</div>

<!-- merchandiserModal template starts -->
<ng-template #merchandiserModal let-modal>
  <!-- modal header starts -->
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">
      {{ this.updateFlag ? "Update" : "Create" }} Merchandiser
    </h3>
    <button
      type="button"
      class="close close-modal"
      aria-label="Close"
      id="modalCloseBtn"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <!-- modal header ends -->
  </div>

  <!-- modal-body starts -->
  <div class="modal-body">
    <!-- modal-col-lg-12 starts -->
    <div class="col-lg-12">
      <!-- modal-row starts -->
      <div class="row">
        <!-- companyId starts -->
        <div class="form-group col-lg-4">
          <label for="companyId">Company Name *</label>
          <div class="input-group">
            <select
              [(ngModel)]="this.merchandiser.companyId"
              class="form-control"
              name="companyId"
              id="companyId"
              (change)="onCompanyChange()"
            >
              <option
                *ngFor="let company of companies"
                value="{{ company.id }}"
              >
                {{ company.name }}
              </option>
            </select>
          </div>
          <!-- companyId ends -->
        </div>

        <!-- merchandiserName starts -->
        <div class="form-group col-lg-4">
          <label for="merchandiserName">Merchandiser Name *</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="merchandiserName"
              id="merchandiserName"
              [(ngModel)]="this.merchandiser.name"
            />
          </div>
          <!-- merchandiserName ends -->
        </div>

        <!-- email starts -->
        <div class="form-group col-lg-4">
          <label for="email">Email Id *</label>
          <div class="input-group">
            <input
              type="email"
              class="form-control"
              name="email"
              [(ngModel)]="this.merchandiser.email"
            />
          </div>
          <!-- email ends -->
        </div>

        <!-- phone starts -->
        <div class="form-group col-lg-4">
          <label for="phone">Phone *</label>
          <div class="input-group">
            <input
              type="number"
              class="form-control"
              name="phone"
              [(ngModel)]="this.merchandiser.phone"
            />
          </div>
          <!-- phone ends -->
        </div>

        <!-- territory starts -->
        <div class="form-group col-lg-4">
          <label for="territory">Territory *</label>
          <div class="input-group">
            <select
              [(ngModel)]="this.merchandiser.territoryId"
              class="form-control"
              name="territory"
              id="territory"
              (change)="onTerritoryChange()"
            >
              <option
                *ngFor="let territory of territories"
                value="{{ territory.id }}"
              >
                {{ territory.name }}
              </option>
            </select>
          </div>
          <!-- territory ends -->
        </div>

        <!-- executiveId starts -->
        <div class="form-group col-lg-4">
          <label for="executiveId">Executive *</label>
          <div class="input-group">
            <select
              class="form-control"
              name="executiveId"
              id="executiveId"
              [(ngModel)]="this.merchandiser.executiveId"
              [disabled]="
                this.merchandiser.territoryId == '' ||
                this.merchandiser.territoryId == null ||
                this.merchandiser.territoryId == undefined
              "
            >
              <option value="" disabled selected></option>
              <option
                *ngFor="let executive of executives"
                value="{{ executive.id }}"
              >
                {{ executive.name }}-({{ executive.code }})
              </option>
            </select>
          </div>
          <!-- executiveId ends -->
        </div>

        <!-- GST starts -->
        <div class="form-group col-lg-4">
          <label for="gst">GSTIN Number</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="gst"
              [(ngModel)]="this.merchandiser.gstin"
            />
          </div>
          <!-- GST ends -->
        </div>

        <!-- Alternate email starts -->
        <div class="form-group col-lg-4">
          <label for="alternateEmail">Alternate Email Id</label>
          <div class="input-group">
            <input
              type="email"
              class="form-control"
              name="alternateEmail"
              [(ngModel)]="this.merchandiser.alternateEmail"
            />
          </div>
          <!-- Alternate email ends -->
        </div>

        <!-- Website starts -->
        <div class="form-group col-lg-4">
          <label for="website">Website </label>
          <div class="input-group">
            <input
              type="text"
              id="website"
              name="website"
              class="form-control"
              [(ngModel)]="this.merchandiser.website"
            />
          </div>
          <!-- Website ends -->
        </div>

        <!-- Street1 starts -->
        <div class="form-group col-lg-4">
          <label for="street1">Street1 *</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="street1"
              [(ngModel)]="this.merchandiser.street1"
            />
          </div>
          <!-- Street1 ends -->
        </div>

        <!-- Street2 starts -->
        <div class="form-group col-lg-4">
          <label for="street2">Street2 *</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="street2"
              [(ngModel)]="this.merchandiser.street2"
            />
          </div>
          <!-- Street2 ends -->
        </div>

        <!-- City starts -->
        <div class="form-group col-lg-4">
          <label for="city">City *</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="city"
              [(ngModel)]="this.merchandiser.city"
            />
          </div>
          <!-- City ends -->
        </div>

        <!-- Zip code starts -->
        <div class="form-group col-lg-4">
          <label for="zipCode">Zip Code *</label>
          <div class="input-group">
            <input
              type="number"
              class="form-control"
              name="zipCode"
              [(ngModel)]="this.merchandiser.zipCode"
            />
          </div>
          <!-- Zip code ends -->
        </div>

        <!-- State starts -->
        <div class="form-group col-lg-4">
          <label for="state">State *</label>
          <div class="input-group">
            <input
              type="text"
              id="state"
              name="state"
              class="form-control"
              [(ngModel)]="this.merchandiser.state"
            />
          </div>
          <!-- State ends -->
        </div>

        <!-- Country starts -->
        <div class="form-group col-lg-4">
          <label for="country">Country *</label>
          <div class="input-group">
            <input
              type="text"
              id="country"
              name="country"
              class="form-control"
              [(ngModel)]="this.merchandiser.country"
            />
          </div>
          <!-- Country ends -->
        </div>

        <!-- Payment Terms starts -->
        <div class="form-group col-lg-4">
          <label for="paymentTerms">Payment Terms * </label>
          <select
            [(ngModel)]="this.merchandiser.paymentTerms"
            class="form-control"
            name="paymentTerms"
            id="paymentTerms"
          >
            <option value="7 Days">7 Days</option>
            <option value="10 Days">10 Days</option>
            <option value="14 Days">14 Days</option>
            <option value="21 Days">21 Days</option>
            <option value="30 Days">30 Days</option>
            <option value="45 Days">45 Days</option>
            <option value="60 Days">60 Days</option>
            <option value="90 Days">90 Days</option>
            <option value="Advance Payment">Advance Payment</option>
            <option value="Cash on Delivery">Cash on Delivery</option>
          </select>
          <!-- Payment terms end -->
        </div>

        <!-- shipmentTerms starts -->
        <div class="form-group col-lg-4">
          <label for="shipmentTerms"
            >Shipment Terms <span class="text-danger">*</span>
          </label>
          <select
            [(ngModel)]="this.merchandiser.shipmentTerms"
            class="form-control"
            name="shipmentTerms"
            id="shipmentTerms"
          >
            <option value="Cost and Freight">Cost and Freight</option>
            <option value="Cost Insurance and Freight">
              Cost Insurance and Freight
            </option>
            <option value="Carriage and Insurance Paid">
              Carriage and Insurance Paid
            </option>
            <option value="Carriage Paid To">Carriage Paid To</option>
            <option value="Delivered at Frontier">Delivered at Frontier</option>
            <option value="Delivered Duty Paid">Delivered Duty Paid</option>
            <option value="Delivered Duty Unpaid">Delivered Duty Unpaid</option>
            <option value="Delivery">Delivery</option>
            <option value="Delivered Ex Quay">Delivered Ex Quay</option>
            <option value="Delivered Ex Ship">Delivered Ex Ship</option>
            <option value="Ex Warehouse">Ex Warehouse</option>
            <option value="Free Alongside Ship">Free Alongside Ship</option>
            <option value="Free Carrier">Free Carrier</option>
            <option value="Free On Board">Free On Board</option>
            <option value="Pickup at Location">Pickup at Location</option>
          </select>
        </div>
        <!-- shipmentTerms end -->

        <!-- create button -->
        <div
          class="col-lg-4"
          id="btnContainer"
          *ngIf="this.updateFlag == false"
        >
          <button class="btn btn-block btn-primary" (click)="onCreate()">
            Create
          </button>
          <!-- create button ends -->
        </div>

        <!-- update button -->
        <div class="col-lg-4" id="btnContainer" *ngIf="this.updateFlag == true">
          <button class="btn btn-block btn-primary" (click)="onUpdate()">
            Update
          </button>
          <!-- update button ends -->
        </div>

        <!-- row ends -->
      </div>
      <!-- col-lg-12 ends -->
    </div>
    <!-- modal body ends -->
  </div>
  <!-- merchandiserModal template ends -->
</ng-template>
