h1{
    color: green;
    text-align: center;
    font-weight: 550;
    padding-top: 1%;
    margin: 0;
  }
  .top-bar{
    display: inline-block;
  }
  .use-down{
    margin-bottom: 5px;
  }
  .back-img{
    width: 25px;
    height: 25px;
    margin-left: 18px;
    cursor: pointer;
  }
  .open-modal{
    margin: 20px auto 10px auto;
    margin-left: 80%;
  }
  .test-check
  {
    width: 100% !important;
    margin-bottom: 30px !important;
    border: 1px solid #cccccc !important;
    height: 25px;
  }
  .main-table-box{
    max-width: 500px;
    min-height: 100px;
    margin: 0 auto 0 auto;
    padding: 20px 5px 0px 10px;
    font-size: large;

  }
  .clear-button{
    margin: 3px 15px 0px 0px;
  }
  .save-button{
    color: white;
    background-color: #049B2F;
  }
  .add-icon{
    height: 22px;
    width: 22px;
    justify-content: center;
  }
  .delete-icon{
    height: 22px;
    width: 22px;
  }

  h1{
    color: rgb(66, 187, 66);
    text-align: center;
    font-weight: 500;
    display: block;
  }
  .customer-btn-box{
      display: block;
      text-align: center;
      margin-bottom: 5px;
  }
  .panel-primary
  {
    margin: 1.5%;
  }
  img{
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
  .color-list th{
    font-weight: 550;
  }
  table {
    border-collapse: separate;
    border-spacing: 0 0.2em;
    width: 100%;
}
  .form-control{
    height: 35px;
    width: 200px;
  }

  .executive-list th{
    font-weight: 550;
  }

  .customer-form{
    padding: 40px;
  }
