<!-- Company - Main container starts -->
<div class="col-lg-12 main-container">
  <!-- panel-primary starts -->
  <div class="panel panel-primary">
    <!-- Panel heading with Create New Button -->
    <div
      class="panel-heading custom-section"
      style="padding-top: 15px; padding-bottom: 10px"
    >
      <div class="row">
        <div class="col-lg-10">
          <h2 style="margin-bottom: 0px; color: #2c9a42">Printed Costing</h2>
        </div>
        <div class="col-lg-2">
          <button
            class="btn btn-block"
            style="background-color: #2c9a42; color: white"
          >
            Save&nbsp;&nbsp;<i class="fas fa-save"></i>
          </button>
        </div>
      </div>
      <!-- Panel heading ends -->
    </div>

    <!-- Panel body starts -->
    <div class="panel-body">
      <!-- Custom section - General Details starts -->
      <div class="col-lg-12 custom-section">
        <!-- <p id="inputGroupHeading">General Details</p>
        <hr /> -->
        <!-- row - General Details starts -->
        <div class="row">
          <!-- quotationNo starts -->
          <div class="form-group col-lg-4 col-md-6">
            <div class="row">
              <label for="quotationNo" class="col-lg-5">Quotation No</label>
              <div class="input-group col-lg-6">
                <input
                  name="quotationNo"
                  id="quotationNo"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>

            <!-- quotationNo ends -->
          </div>

          <!-- Customer Name starts -->
          <div class="form-group col-lg-4 col-md-6">
            <div class="row">
              <label for="customerName" class="col-lg-5">Customer Name</label>
              <div class="input-group col-lg-6">
                <input
                  name="customerName"
                  id="customerName"
                  type="text"
                  class="form-control"
                  readonly
                />
              </div>
            </div>
            <!-- Customer Name ends -->
          </div>

          <!-- estimatedQuantity starts -->
          <div class="form-group col-lg-4 col-md-6">
            <div class="row">
              <label for="estimatedQuantity" class="col-lg-5"
                >Estimated Quantity</label
              >
              <div class="input-group col-lg-6">
                <input
                  name="estimatedQuantity"
                  id="estimatedQuantity"
                  type="number"
                  class="form-control"
                  readonly
                />
              </div>
            </div>

            <!-- estimatedQuantity ends -->
          </div>

          <!-- tapeName starts -->
          <div class="form-group col-lg-4 col-md-6">
            <div class="row">
              <label for="tapeName" class="col-lg-5">Tape Name</label>
              <div class="input-group col-lg-6">
                <input
                  name="tapeName"
                  id="tapeName"
                  type="text"
                  class="form-control"
                  readonly
                />
              </div>
            </div>

            <!-- tapeName ends -->
          </div>

          <!-- tapeWidthMM starts -->
          <div class="form-group col-lg-4 col-md-6">
            <div class="row">
              <label for="tapeWidthMM" class="col-lg-5">Tape Width (MM)</label>
              <div class="input-group col-lg-6">
                <input
                  name="tapeWidthMM"
                  id="tapeWidthMM"
                  type="number"
                  class="form-control"
                />
              </div>
            </div>

            <!-- tapeWidthMM ends -->
          </div>

          <!-- tapeCostPerMeter starts -->
          <div class="form-group col-lg-4 col-md-6">
            <div class="row">
              <label for="tapeCostPerMeter" class="col-lg-5"
                >Tape Cost / Meter</label
              >
              <div class="input-group col-lg-6">
                <input
                  name="tapeCostPerMeter"
                  id="tapeCostPerMeter"
                  type="number"
                  class="form-control"
                />
              </div>
            </div>

            <!-- tapeCostPerMeter ends -->
          </div>

          <!-- labelWidthCM starts -->
          <div class="form-group col-lg-4 col-md-6">
            <div class="row">
              <label for="labelWidthCM" class="col-lg-5"
                >Label Width (CM)</label
              >
              <div class="input-group col-lg-6">
                <input
                  name="labelWidthCM"
                  id="labelWidthCM"
                  type="number"
                  class="form-control"
                />
              </div>
            </div>

            <!-- labelWidthCM ends -->
          </div>

          <!-- Label Length CM starts -->
          <div class="form-group col-lg-4 col-md-6">
            <div class="row">
              <label for="labelLengthCM" class="col-lg-5"
                >Label Length (CM)</label
              >
              <div class="input-group col-lg-6">
                <input
                  name="labelLengthCM"
                  id="labelLengthCM"
                  type="number"
                  class="form-control"
                />
              </div>
            </div>

            <!-- Label Length CM ends -->
          </div>

          <!-- No of Labels / Meter starts -->
          <div class="form-group col-lg-4 col-md-6">
            <div class="row">
              <label for="noOfLabelsPerMeter" class="col-lg-5"
                >No of Labels / Meter</label
              >
              <div class="input-group col-lg-6">
                <input
                  name="noOfLabelsPerMeter"
                  id="noOfLabelsPerMeter"
                  type="number"
                  class="form-control"
                />
              </div>
            </div>

            <!-- No of Labels / Meter ends -->
          </div>

          <!-- row - General Details ends-->
        </div>
        <!-- Custom section - General Details ends -->
      </div>

      <!-- <hr /> -->
      <!-- Custom section - costing starts -->
      <div class="col-lg-12 custom-section">
        <!-- row - costing starts -->
        <div class="row">
          <!-- Tape Cost per Label starts -->
          <div class="form-group col-lg-4 col-md-6">
            <div class="row">
              <label for="tapeCostPerLabel" class="col-lg-5"
                >Tape Cost per Label</label
              >
              <div class="input-group col-lg-6">
                <input
                  name="tapeCostPerLabel"
                  id="tapeCostPerLabel"
                  type="number"
                  class="form-control"
                />
              </div>
            </div>

            <!-- Tape Cost per Label ends -->
          </div>

          <!-- No of Colors starts -->
          <div class="form-group col-lg-4 col-md-6">
            <div class="row">
              <label for="noOfColors" class="col-lg-5">No of Colors</label>
              <div class="input-group col-lg-6">
                <input
                  name="noOfColors"
                  id="noOfColors"
                  type="number"
                  class="form-control"
                />
              </div>
            </div>

            <!-- No of Colors ends -->
          </div>

          <!-- Plate Cost starts -->
          <div class="form-group col-lg-4 col-md-6">
            <div class="row">
              <label for="plateCost" class="col-lg-5">Plate Cost</label>
              <div class="input-group col-lg-6">
                <input
                  name="plateCost"
                  id="plateCost"
                  type="number"
                  class="form-control"
                />
              </div>
            </div>

            <!-- Plate Cost ends -->
          </div>

          <!-- INK Cost starts -->
          <div class="form-group col-lg-4 col-md-6">
            <div class="row">
              <label for="inkCost" class="col-lg-5">INK Cost</label>
              <div class="input-group col-lg-6">
                <input
                  name="inkCost"
                  id="inkCost"
                  type="number"
                  class="form-control"
                />
              </div>
            </div>

            <!-- INK Cost ends -->
          </div>

          <!-- Cutting Cost starts -->
          <div class="form-group col-lg-4 col-md-6">
            <div class="row">
              <label for="cuttingCost" class="col-lg-5">Cutting Cost</label>
              <div class="input-group col-lg-6">
                <input
                  name="cuttingCost"
                  id="cuttingCost"
                  type="number"
                  class="form-control"
                />
              </div>
            </div>

            <!-- Cutting Cost ends -->
          </div>

          <!-- Production Cost starts -->
          <div class="form-group col-lg-4 col-md-6">
            <div class="row">
              <label for="productionCost" class="col-lg-5"
                >Production Cost</label
              >
              <div class="input-group col-lg-6">
                <input
                  name="productionCost"
                  id="productionCost"
                  type="number"
                  class="form-control"
                />
              </div>
            </div>
            <!-- Production Cost ends -->
          </div>

          <!-- QC & Packing Cost starts -->
          <div class="form-group col-lg-4 col-md-6">
            <div class="row">
              <label for="qcAndPackingCost" class="col-lg-5"
                >QC & Packing Cost</label
              >
              <div class="input-group col-lg-6">
                <input
                  name="qcAndPackingCost"
                  id="qcAndPackingCost"
                  type="number"
                  class="form-control"
                />
              </div>
            </div>
            <!-- QC & Packing Cost ends -->
          </div>

          <!-- Admin Cost starts -->
          <div class="form-group col-lg-4 col-md-6">
            <div class="row">
              <label for="adminCost" class="col-lg-5">Admin Cost</label>
              <div class="input-group col-lg-6">
                <input
                  name="adminCost"
                  id="adminCost"
                  type="number"
                  class="form-control"
                />
              </div>
            </div>
            <!-- Admin Cost ends -->
          </div>

          <!-- Margin starts -->
          <div class="form-group col-lg-4 col-md-6">
            <div class="row">
              <label for="margin" class="col-lg-5">Margin</label>
              <div class="input-group col-lg-6">
                <input
                  name="margin"
                  id="margin"
                  type="number"
                  class="form-control"
                />
              </div>
            </div>
            <!-- Margin ends -->
          </div>

          <!-- row costing ends -->
        </div>

        <hr />

        <!-- last row -->
        <div class="row">
          <!-- totalEstimate starts -->
          <div class="form-group col-lg-4 col-md-6" style="margin: auto">
            <div class="row">
              <label
                for="totalEstimate"
                class="col-lg-5"
                style="font-weight: 600"
                >Total Estimate</label
              >
              <div class="input-group col-lg-6">
                <input
                  name="totalEstimate"
                  id="totalEstimate"
                  type="number"
                  class="form-control"
                />
              </div>
            </div>
            <!-- totalEstimate ends -->

            <!-- last row ends -->
          </div>

          <!-- custom section costing ends -->
        </div>

        <!-- Panel body ends -->
      </div>

      <!-- panel-primary ends -->
    </div>
    <!-- Company - Main container ends -->
  </div>
</div>
