h1{
  color: green;
  text-align: center;
  font-weight: 550;
  padding-top: 1%;
}
.form-control
{
  margin-bottom: 30px !important;
}
.main-table-box{

  background-color: #CCCCCC;
  max-width: 500px;
  min-height: 100px;
  margin: 0 auto 0 auto;
  padding: 20px 5px 0px 10px;
  font-size: large;

}
.clear-button{
  color: white;
  background-color: #007AFF;
  margin: 3px 15px 0px 0px;
}
.save-button{
  color: white;
  background-color: #049B2F;
}
.add-icon{
  height: 22px;
  width: 22px;
  justify-content: center;
}
.delete-icon{
  height: 22px;
  width: 22px;
}

h1{
  color: rgb(66, 187, 66);
  text-align: center;
  font-weight: 500;
  display: block;
}

.top-bar{
  display: inline-block;
}
.back-img{
  width: 25px;
  height: 25px;
  margin: 18px;
  cursor: pointer;
}
.open-modal{
  margin: 20px auto 10px auto;
  margin-left: 80%;
}

.customer-btn-box{
    display: block;
    text-align: center;
    margin-bottom: 5px;

}

.panel-primary
{
  margin: 1.5%;
}
.customerref-list th{
  font-weight: 550;
}
