<div class="bg">
    <body>
        <div class="top-bar">
            <div class="new">
                <a routerLink="/home/new" routerLinkActive="active"> <img src="./../../assets/new.svg" alt="new"></a>
                <a class="normalise" routerLink="/home/new" routerLinkActive="active"> New </a>
            </div>
            <div class="sort">
                <a routerLink="" routerLinkActive="active"> <img src="./../../assets/sort.svg" alt="sort"></a>
                <a class="normalise" routerLink="/home/sort" routerLinkActive="active"> Sort </a>
            </div>
            <div class="search">
                <a routerLink="" routerLinkActive="active"> <img src="./../../assets/search.svg" alt="search"></a>
                <a class="normalise" routerLink="/home/search" routerLinkActive="active"> Search </a>
            </div>
        </div>
       
    </body>
</div>
